.wrapper {
    display: flex;
    height: 100vh;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    background: #1C1A19;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-image: url('../../images/map.png');
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 112px;
    background: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 10;
}