.form {
    display: flex;
    flex-direction: column;
    width: 355px;
}

.header {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 57px;
}

.inputContainer {
    margin-bottom: 46px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 25px;
}

.label {
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

.input {
    border: none;
}

.passportQuestionWrapper {
    display: flex;
    justify-content: flex-end;
}

.passportQuestionBtn {
    font-weight: 400;
    font-size: 14px;
    color: #828282;
}

.entryBtn {
    height: 61px;
    background: #FDBF5A;
    border-radius: 70px;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 33px;
    border: none;
}

.entryBtn:hover {
    background: #FFA842;
}

.registrationWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 400;
    font-size: 16px;
}

.registrationQuestion {
    color: #828282;
    margin-right: 5px;
}

.registrationBtn {
    font-weight: 400;
    font-size: 16px;
    color: #FDBF5A;
}